body {
    background-image: url(../images/dust_scratches.png);
}
img {
    height: 200px;
    width:200px;
}

.imgBorder {
    border: solid #bdb7b7 5px;
    border-radius: 5px;
}

.selectedBorder {
    border: solid #5c6ecf 5px;
    border-radius: 5px;
}

#win-loss {
    margin-top: 20px;
}